<!DOCTYPE html>
<html data-bs-theme="light" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Groot - Manage Cultures</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Space+Grotesk&amp;display=swap">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body style="--bs-primary: #13456a;--bs-primary-rgb: 19,69,106;--bs-secondary: #FF8889;--bs-secondary-rgb: 255,136,137;">
    
    <header id="adminHeader"></header>
    
    <div class="container" style="margin-top: 2vw;">
        <div class="row">
            <h4>
            	Manage Cultures 
            	<a href="adminAddCulture"><button style="float:right; width: 200px;" class="btn btn-success">Add New Culture</button></a>
            </h4>
        </div>
    </div>
    <div class="container" style="margin-top: 2vw; margin-bottom: 2vw;">
	    <div class="row">
	        <div id="culture-container"></div>
	        <div id="culture-error" style="color: red;"></div>
	    </div>
	</div>

    <footer id="footer"></footer>
    <script src="/js/custom_functions.js"></script>
    <script src="/js/script.js"></script>
    <script>
	    $(document).ready(function() {
	        $.ajax({
	            url: '/api/cultures/getAll',
	            type: 'GET',
	            contentType: 'application/json',
	            headers: {
	                "Cookie": "JSESSIONID=934B0E0C2B4F0E35CC8454CB2A28AE6B"
	            },
	            success: function(response) {
	                var content = '<table class="table"><thead class="thead-dark"><tr><th>Culture</th><th>Action</th></tr></thead><tbody>';
	                response.cultures.forEach(function(culture) {
	                		               
	                    content += '<tr class="culture-entry">' +
	                               '<td width="20%">' + culture.cultureName + '</td>' +
	                               '<td width="15%"><a href="/adminEditCulture?id=' + culture.cultureId + '"><button class="btn btn-primary">Edit</button></a></td>' +
	                               '</tr>';
	                });
	                content += '</tbody></table>';
	                $('#culture-container').html(content);
	            },
	            error: function(xhr) {
	                console.log('Failed to retrieve universities:', xhr.responseText);
	                $('#culture-error').text('Failed to retrieve university data: ' + xhr.responseText);
	            }
	        });
	    });
	</script>
    <script>
    $(document).ready(function() {
        // Load the header and footer into div
        $('#adminHeader').load('adminHeader');
        $('#footer').load('footer');
    });
    </script>
</body>

</html>