<!DOCTYPE html>
<html data-bs-theme="light" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Groot - Manage Interests</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Space+Grotesk&amp;display=swap">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body style="--bs-primary: #13456a;--bs-primary-rgb: 19,69,106;--bs-secondary: #FF8889;--bs-secondary-rgb: 255,136,137;">
    
    <header id="adminHeader"></header>
    
    <div class="container" style="margin-top: 2vw;">
        <div class="row">
            <h4>
            	Manage Interests 
            	<a href="adminAddInterest"><button style="float:right; width: 200px;" class="btn btn-success">Add New Interest</button></a>
            </h4>
        </div>
    </div>
    <div class="container" style="margin-top: 2vw; margin-bottom: 2vw;">
	    <div class="row">
	        <div id="interest-container"></div>
	        <div id="interest-error" style="color: red;"></div>
	    </div>
	</div>
	<script>
	    $(document).ready(function() {
	        $.ajax({
	            url: '/api/interests/getAll',
	            type: 'GET',
	            contentType: 'application/json',
	            headers: {
	                "Cookie": "JSESSIONID=934B0E0C2B4F0E35CC8454CB2A28AE6B"
	            },
	            success: function(response) {
	                var content = '<table class="table"><thead class="thead-dark"><tr><th>ID</th><th>Interest</th><th>Action</th></tr></thead><tbody>';
	                response.interest.forEach(function(inter) {
	                    // Constructing HTML content for each university
	                		               
	                    content += '<tr class="interest-entry">' +
	                               '<td width="25%">' + inter.interestLibraryId + '</td>' +
	                               '<td width="20%">' + inter.interest + '</td>' +
	                               '<td width="15%"><a href="/?adminEditInterest&id=' + inter.interestLibraryId + '"><button class="btn btn-primary">Edit</button></a>&nbsp;<a href="/adminDelete&type=interest&id=' + inter.interestLibraryId + '"><button class="btn btn-danger">Delete</button></a></td>' +
	                               '</tr>';
	                });
	                content += '</tbody></table>';
	                $('#interest-container').html(content);
	            },
	            error: function(xhr) {
	                console.log('Failed to retrieve universities:', xhr.responseText);
	                $('#interest-error').text('Failed to retrieve university data: ' + xhr.responseText);
	            }
	        });
	    });
	</script>
    <footer id="footer"></footer>
    <script src="/js/custom_functions.js"></script>
    <script src="/js/script.js"></script>
    <script>
    $(document).ready(function() {
        // Load the header and footer into div
        $('#adminHeader').load('adminHeader');
        $('#footer').load('footer');
    });
    </script>
</body>

</html>