<!DOCTYPE html>
<html data-bs-theme="light" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Groot - Welcome to the home of business</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Space+Grotesk&amp;display=swap">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body style="--bs-primary: #13456a;--bs-primary-rgb: 19,69,106;--bs-secondary: #FF8889;--bs-secondary-rgb: 255,136,137;">
    
    <header id="header"></header>
    
    <div class="container" style="margin-top: 2vw;">
        <div class="row">
            <div class="col-md-6 col-xxl-5 d-xxl-flex align-items-xxl-center" style="padding-right: 0px;padding-left: 0px;">
                <div style="position: static;display: block;">
                    <h6 style="color: var(--bs-form-invalid-border-color);/*font-size: 1.2vw;*/font-weight: bold;font-family: 'Poppins', inter, serif;text-align: left;">CULTURAL CONNECTIONS, ONE CLICK AWAY</h6>
                    <h1 style="color: rgb(19,69,106);font-size: 4rem;font-family: 'Voikhov', Times, serif;text-align: left;margin-top: 23px;margin-bottom: 23px;"><strong>Connect With Your Culture</strong></h1>
                    <h6 style="color: #13456a;/*font-size: 1vw;*/font-family: 'Space Grotesk', inter, serif;text-align: left;">Welcome to Groot, your gateway to a world of cultural discovery. Explore diverse cuisines, traditions, and experiences from around the globe, all in one place. Connect with communities, find your favorites, and embark on a journey of cultural exploration with us.</h6>
                </div>
            </div>
            <div class="col-md-6 col-xxl-7" style="padding-right: 0px;padding-left: 0px;"><img class="img-fluid" src="/img/HeroImage2.png" width="770" height="565"></div>
        </div>
    </div>
    <div class="container" style="margin-top: 4vw;">
        <div class="row">
            <div class="col-md-12 d-xl-flex justify-content-xl-center"><img class="img-fluid" src="/img/Products.png" width="986" height="999"></div>
        </div>
    </div>
    <div class="container" style="margin-top: 4vw;">
        <div class="row">
            <div class="col-md-6">
                <h6 style="color: var(--bs-form-invalid-border-color);/*font-size: 1.2vw;*/font-weight: bold;font-family: 'Poppins', inter, serif;text-align: left;">Easy and Fast</h6>
                <h1 style="color: rgb(19,69,106);font-size: 3rem;font-family: 'Voikhov', Times, serif;text-align: left;margin-top: 23px;margin-bottom: 23px;"><strong>Download Groot App For Exclusive Features</strong></h1>
                <div style="margin-top: 2vw;margin-bottom: 2vw;">
                    <div>
                        <h5 style="color: rgb(19,69,106);margin-top: 1vw;margin-bottom: 1vw;">&nbsp;<img src="/img/Magical%20Matchmaking%20Icon.png" style="margin-right: 9px;">Magical Matchmaking</h5>
                        <p style="font-size: 1 rem;color: rgb(19,69,106);">Let Groot's AI be your cultural cupid! Enjoy personalized<br>recommendations tailored just for you. It's like having<br>a best friend who always knows the coolest spots in town!</p>
                    </div>
                    <div>
                        <h5 style="color: rgb(19,69,106);margin-top: 1vw;margin-bottom: 1vw;">&nbsp;<img src="/img/whispering%20wonders%20icon.png" style="margin-right: 9px;">Whispering Wonders</h5>
                        <p style="font-size: 1 rem;color: rgb(19,69,106);">Get custom notifications for every new cultural hotspot or<br>event near you. It's like having your own little cultural genie<br>granting your wishes!</p>
                    </div>
                    <div>
                        <h5 style="color: rgb(19,69,106);margin-top: 1vw;margin-bottom: 1vw;">&nbsp;<img src="/img/Navigate%20Nirvana%20icon.png" style="margin-right: 9px;">Navigate Nirvana</h5>
                        <p style="font-size: 1 rem;color: rgb(19,69,106);">With our integrated navigation system, finding your way to<br>cultural gems is a breeze. It's like having a treasure map<br>that leads straight to cultural bliss!</p>
                    </div>
                </div><button class="btn btn-primary" type="button" style="background: rgb(19,69,106);border-style: none;">Download From App Store</button>
            </div>
            <div class="col-md-6"><img class="img-fluid" src="/img/PhoneMockup.png"></div>
        </div>
    </div>
    <div class="container py-4 py-xl-5">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h6 class="text-center" style="color: var(--bs-form-invalid-border-color);/*font-size: 1.2vw;*/font-weight: bold;font-family: 'Poppins', inter, serif;text-align: left;">Testimonials</h6>
                <h1 style="font-family: 'Voikhov', Times, serif;"><strong><span style="color: rgb(19, 69, 106);">What People Say About Us</span></strong></h1>
            </div>
        </div>
        <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-lg-3">
            <div class="col">
                <div>
                    <p class="bg-body-tertiary border rounded border-0 p-4">Groot has utterly transformed the way I immerse myself in the cultural tapestry of Manchester. It's like having a personal concierge in my pocket, always ready with recommendations for the most authentic dining spots and events that capture the heart of the city. Every weekend is now an adventure, thanks to Groot!</p>
                    <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" alt="smiling woman wearing white and black pinstriped collared top" width="50" height="50" src="/img/photo-1544005313-94ddf0286df2.jpg">
                        <div>
                            <p class="fw-bold text-primary mb-0">Olivia Thompson</p>
                            <p class="text-muted mb-0">Manchester, UK</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div>
                    <p class="bg-body-tertiary border rounded border-0 p-4">As an enthusiast of world cuisines and cultural festivities, Groot has been nothing short of a revelation. It's connected me to the pulse of Manchester's diverse cultural scene, leading me to experiences I would have never found on my own. From the bustling street markets to the serene tea houses, Groot has been an indispensable part of my journey.</p>
                    <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" alt="grayscale photo of man" width="50" height="50" src="/img/photo-1570612861542-284f4c12e75f.jpg">
                        <div>
                            <p class="fw-bold text-primary mb-0">Ethan Richards</p>
                            <p class="text-muted mb-0">London, UK</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div>
                    <p class="bg-body-tertiary border rounded border-0 p-4">Groot has been a gateway to a world I never knew existed right here in Manchester. It has helped me uncover hidden corners of the city, be it cozy cafes or vibrant cultural celebrations. My social life has seen a sea change, with Groot at the center of planning my cultural explorations every week!</p>
                    <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" alt="woman standing near trees wearing black hat" width="50" height="50" src="/img/photo-1491349174775-aaafddd81942.jpg">
                        <div>
                            <p class="fw-bold text-primary mb-0">John Smith</p>
                            <p class="text-muted mb-0">Erat netus</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 6vw;margin-bottom: 6vw;">
        <div class="row">
            <div class="col-xxl-12 text-center"><img src="/img/image%2027.png" style="margin-right: 2vw;margin-left: 2vw;"><img src="/img/image%2030.png" style="margin-right: 2vw;margin-left: 2vw;"><img src="/img/image%2031.png" style="margin-right: 2vw;margin-left: 2vw;"><img src="/img/image%2029.png" style="margin-right: 2vw;margin-left: 2vw;"><img src="/img/image%2028.png" style="margin-right: 2vw;margin-left: 2vw;"></div>
        </div>
    </div>
    
    <footer id="footer"></footer>
    <script src="/js/custom_functions.js"></script>
    <script src="/js/script.js"></script>
    <script>
    $(document).ready(function() {
        // Load the header and footer into div
        $('#header').load('header');
        $('#footer').load('footer');
    });
    </script>
</body>

</html>