<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Groot - Signup</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Space+Grotesk&amp;display=swap">
</head>

<body>
    <header id="header"></header>
    
    <div class="container" style="margin-bottom: 0px;">
        <div class="row">
            <div class="col-md-6">
            	<img class="img-fluid" src="/img/Login%20Image.png" width="546" height="839">
            </div>
            <div class="col-md-6">
                <section class="position-relative py-4 py-xl-5">
                    <div class="container">
                        <div class="row mb-5">
                            <div class="col">
                                <h2 style="color: var(--bs-success-text-emphasis);">Sign-up</h2>
                                <p class="w-lg-50" style="font-family: 'Space Grotesk';">Welcome to Groot! Sign-up to continue your cultural journey and connect with your community</p>
                                <section class="position-relative py-4 py-xl-5" style="padding-top: 0px;margin-top: 0px;">
                                    <div class="container">
                                        <div class="col-md-6 col-xl-11">
                                            <div class="card mb-5" style="border-style: none;border-left-style: none;">
                                                <form class="text-center" id="signup-form" style="border-left-style: none;">
                                                    <div class="mb-3">
                                                    	<input class="form-control" type="text" name="fname" placeholder="First Name" required>
                                                    </div>
                                                    <div class="mb-3">
                                                    	<input class="form-control" type="text" name="lname" placeholder="Last Name" required>
                                                    </div>
                                                    <div class="mb-3">
                                                    	<input class="form-control" type="text" name="mobile" placeholder="Phone Number" required>
                                                    </div>
                                                    <div class="mb-3">
                                                    	<input class="form-control" type="text" name="address" placeholder="Address" required>
                                                    </div>
                                                    <div class="mb-3">
                                                    	<select class="form-control mb-3" id="city" name="city" required>
                                                    		<option value="" selected disabled>Select city</option>
                                                    	</select>
                                                    </div>
                                                    <div class="mb-3">
                                                    	<select class="form-control mb-3" id="country" name="country" required>
                                                    		<option value="" selected disabled>Select country</option>
                                                    	</select>
                                                    </div>
                                                    <div class="mb-3">
                                                    	<select class="form-control mb-3" id="university" name="university" required>
                                                    		<option value="" selected disabled>Select university</option>
                                                    	</select>
                                                    </div>
                                                    <div class="mb-3">
                                                    	<select class="form-control mb-3" id="culture" name="culture" required>
                                                    		<option value="" selected disabled>Select culture</option>
                                                    	</select>
                                                    </div>
                                                    <div class="mb-3">
                                                    	<input class="form-control" required type="email" name="email" placeholder="Email">
                                                    </div>
                                                    <div class="mb-3">
                                                    	<input class="form-control" type="password" required name="password" placeholder="Password">
                                                    </div>
                                                    <div class="mb-3">
                                                    	<input class="form-control" type="password" required name="recheck_password" placeholder="Re-enter password">
                                                    </div>
                                                    <div class="mb-3">
                                                    	<button class="btn btn-primary d-block w-100" type="submit" style="background: rgb(19,69,106);">Sign up</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="w-lg-50" style="font-family: 'Space Grotesk';text-align: center;">Already have an account? <span style="text-decoration: underline;"><a href="login">Login Here</a></span></p>
                                </section>
                                <div id="error-message" style="color: red;"></div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <script src="/js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    $(document).ready(function() {
		$.ajax({
            url: '/api/countries/getAll',
            type: 'GET',
            contentType: 'application/json',
            headers: {
                "Cookie": "JSESSIONID=934B0E0C2B4F0E35CC8454CB2A28AE6B"
            },
            success: function(response) {
            	var countryDropdown = $('#country');
            	response.countries.forEach(function(country) {
            		countryDropdown.append($('<option>', {
                        value: country.countryId,
                        text: country.countryName
                    }));
                });
            },
            error: function() {
                console.log('Failed to load countries');
            }
        });
		
		$.ajax({
            url: '/api/cities/getAll',
            type: 'GET',
            contentType: 'application/json',
            headers: {
                "Cookie": "JSESSIONID=934B0E0C2B4F0E35CC8454CB2A28AE6B"
            },
            success: function(response) {
            	var cityDropdown = $('#city');
            	response.cities.forEach(function(city) {
            		cityDropdown.append($('<option>', {
                        value: city.cityId,
                        text: city.cityName
                    }));
                });
            },
            error: function() {
                console.log('Failed to load countries');
            }
        });
		
		$.ajax({
            url: '/api/university/getAll',
            type: 'GET',
            contentType: 'application/json',
            headers: {
                "Cookie": "JSESSIONID=934B0E0C2B4F0E35CC8454CB2A28AE6B"
            },
            success: function(response) {
            	var universityDropdown = $('#university');
            	response.universities.forEach(function(university) {
            		universityDropdown.append($('<option>', {
                        value: university.id,
                        text: university.universityName
                    }));
                });
            },
            error: function() {
                console.log('Failed to load countries');
            }
        });
		
		$.ajax({
            url: '/api/cultures/getAll',
            type: 'GET',
            contentType: 'application/json',
            headers: {
                "Cookie": "JSESSIONID=934B0E0C2B4F0E35CC8454CB2A28AE6B"
            },
            success: function(response) {
            	var cultureDropdown = $('#culture');
            	response.cultures.forEach(function(culture) {
            		cultureDropdown.append($('<option>', {
                        value: culture.cultureId,
                        text: culture.cultureName
                    }));
                });
            },
            error: function() {
                console.log('Failed to load countries');
            }
        });
    });
    
    $(document).ready(function() {
        $('#signup-form').submit(function(event) {
            event.preventDefault(); // Stop the form from causing a page refresh.

            var formData = {
            		firstName: $('input[name="fname"]').val(),
            		lastName: $('input[name="lname"]').val(),
            		email: $('input[name="email"]').val(),
            		phoneNumber: $('input[name="mobile"]').val(),
            		address: $('input[name="address"]').val(),
            		city: $('select[name="city"]').val(),
            		university: $('select[name="university"]').val(),
            		userType: "user",
            		culture: $('select[name="culture"]').val(),
            		country: $('select[name="country"]').val(),
            		password: $('input[name="password"]').val(),
            		confrimPassword: $('input[name="recheck_password"]').val()
                };

            $.ajax({
                url: '/signup',
                type: 'POST',
                contentType: 'application/json',
                Cookie: "JSESSIONID=AC1198314A2BB817ED2F74CD8D96EA27",
                data: JSON.stringify(formData),
                success: function(response) {
                    window.location.href = '/login'; // Redirecting to login
                },
                error: function(xhr, status, error) {
                    alert('Signup failed. Kindly add all the required fields.');
                }
            });
        });
    }); 
	</script>
	<script src="/js/custom_functions.js"></script>
	    <script src="/js/script.js"></script>
	    <script>
	    $(document).ready(function() {
	        // Load the header and footer into div
	        $('#header').load('header');
	        $('#footer').load('footer');
	    });
    </script>
</body>

</html>