<!DOCTYPE html>
<html data-bs-theme="light" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Groot - Welcome to the home of business</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Space+Grotesk&amp;display=swap">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
	    .card-img-top {
	        height: 200px;
	        object-fit: cover;
	    }
	    .price, .ratings {
	        font-weight: bold;
	        margin-top: 5px;
	    }
	    /* Custom styles for sidebar */
	    .sidebar {
	        min-width: 250px;
	        max-width: 280px;
	    }
	    .hide-sidebar {
	        display: none;
	    }
	    #product-list a
	    {
	    	text-decoration:none;
	    }
	</style>
</head>
<body style="--bs-primary: #13456a;--bs-primary-rgb: 19,69,106;--bs-secondary: #FF8889;--bs-secondary-rgb: 255,136,137;">
    
    <header id="header"></header>
    
    <div class="row">
	    <div class="col-md-10" style="margin:auto;">
		    <div class="container-fluid">
			    <div class="row" style="padding:20px;">
			        <div class="col-md-3">
			            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2">
			            <h5>Filters</h5>
			            	<form id="search-form" style="border-left-style: none; width:100%;">
				                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" style="width:100%;" id="menu">
				                	<div class="dropdown mt-4" style="width:100%;">
				                		Name
										<input type"text" class="form-control mb-3" id="name" name="name">
									</div>
				                    <div class="dropdown mt-4" style="width:100%;">
									    Category
									    <select class="form-control mb-3" id="category" name="category">
									    	<option value="">All</option>
									    </select>
									</div>
									<div class="dropdown mt-4" style="width:100%;">
									    Location
									    <select class="form-control mb-3" id="location" name="location">
									    	<option value="">All</option>
									    </select>
									</div>
									<div class="dropdown mt-4" style="width:100%;">
									    Culture
									    <select class="form-control mb-3" id="culture" name="culture">
									    	<option value="">All</option>
									    </select>
									</div>
									<div class="dropdown mt-4" style="width:100%;">
										<button class="btn btn-primary d-block w-100" type="submit" style="background: rgb(19,69,106);">Search</button>
									</div>
				                </ul>
			                </form>
			                <hr>
			            </div>
			        </div>
			        <div class="col-md-9 px-0 bg-light">
			            <div class="hide-sidebar">
			                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar" aria-expanded="false" aria-controls="sidebar">
			                    <i class="fas fa-bars"></i> Menu
			                </button>
			            </div>
			            <div id="product-list" class="row row-cols-1 row-cols-md-3 g-4">
			                <!-- Products will be loaded here -->
			            </div>
			        </div>
			    </div>
			</div>
    	</div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	<script>
	function fetchOverallRating(businessId, callback) {
	    $.ajax({
	        url: `/api/review/getbyBusinessid?businessId=${businessId}`,
	        method: "GET",
	        contentType: 'application/json',
	        success: function(reviewResponse) {
	            var totalRating = 0;
	            var numberOfReviews = reviewResponse.length;

	            reviewResponse.forEach(function(review) {
	                totalRating += Number(review.rating);
	            });

	            var overallRating = numberOfReviews > 0 ? totalRating / numberOfReviews : 0;
	            callback(Number(overallRating));
	        },
	        error: function(xhr) {
	            console.error('Failed to load reviews', xhr.responseText);
	            callback(0); // Return 0 if there was an error
	        }
	    });
	}

	
		function fetchCategoryById(categoryId) {
	        $.ajax({
	            url: `/api/categories/getByID/${categoryId}`,
	            type: 'GET',
	            success: function(response) {
	                console.log('Category fetched successfully:', response);
	                // Handle success response here
	                var categoryDetails = $('#category-details');
	                categoryDetails.empty(); // Clear previous details
	                
	                var details = `
	                    <div class="category-detail">
	                        <h3>${response.name}</h3>
	                    </div>
	                `;
	                categoryDetails.append(details);
	            },
	            error: function(xhr) {
	                console.error('Failed to fetch category:', xhr.responseText);
	                // Handle error response here
	                var categoryDetails = $('#category-details');
	                categoryDetails.empty(); // Clear previous details
	                categoryDetails.append('<p style="color: red;">Failed to load category data.</p>');
	            }
	        });
	    }
	
		$(document).ready(function() {
			$.ajax({
	            url: '/api/categories/getAll',
	            type: 'GET',
	            contentType: 'application/json',
	            headers: {
	                "Cookie": "JSESSIONID=934B0E0C2B4F0E35CC8454CB2A28AE6B"
	            },
	            success: function(response) {
	            	var categoryDropdown = $('#category');
	            	response.categories.forEach(function(category) {
	            		categoryDropdown.append($('<option>', {
	                        value: category.categoryId,
	                        text: category.categoryName
	                    }));
	                });
	            },
	            error: function() {
	                console.log('Failed to load categories');
	            }
	        });
			
			$.ajax({
	            url: '/api/cities/getAll',
	            type: 'GET',
	            contentType: 'application/json',
	            headers: {
	                "Cookie": "JSESSIONID=934B0E0C2B4F0E35CC8454CB2A28AE6B"
	            },
	            success: function(response) {
	            	var locationDropdown = $('#location');
	            	response.cities.forEach(function(location) {
	            		locationDropdown.append($('<option>', {
	                        value: location.cityId,
	                        text: location.cityName
	                    }));
	                });
	            },
	            error: function() {
	                console.log('Failed to load locations');
	            }
	        });
			
	        $.ajax({
	            url: '/api/cultures/getAll',
	            type: 'GET',
	            contentType: 'application/json',
	            headers: {
	                "Cookie": "JSESSIONID=934B0E0C2B4F0E35CC8454CB2A28AE6B"
	            },
	            success: function(response) {
	            	var cultureDropdown = $('#culture');
	            	response.cultures.forEach(function(culture) {
	                    cultureDropdown.append($('<option>', {
	                        value: culture.cultureId,
	                        text: culture.cultureName
	                    }));
	                });
	            },
	            error: function() {
	                console.log('Failed to load cultures');
	            }
	        });
	    });
		
		document.addEventListener('DOMContentLoaded', function () {
		    function fetchBusinesses() {
		        var businessName = $('input[name="name"]').val();
		        var categoryName = $('select[name="category"]').val();
		        var cultureName = $('select[name="culture"]').val();
		        var cityName = $('select[name="location"]').val();

		        var formData = {};
		        if (businessName && businessName !== '') {
		            formData.name = businessName;
		        } else {
		            formData.name = null;
		        }

		        if (categoryName && categoryName !== '') {
		            formData.categoryID = categoryName;
		        } else {
		            formData.categoryID = null;
		        }

		        if (cultureName && cultureName !== '') {
		            formData.cultureID = cultureName;
		        } else {
		            formData.cultureID = null;
		        }

		        if (cityName && cityName !== '') {
		            formData.city = cityName;
		        } else {
		            formData.city = null;
		        }

		        $.ajax({
		            url: '/api/business/getall',
		            type: 'POST',
		            contentType: 'application/json',
		            headers: {
		                "Cookie": "JSESSIONID=AC1198314A2BB817ED2F74CD8D96EA27"
		            },
		            data: JSON.stringify(formData),
		            success: function(response) {
		                console.log(response);
		                var businessList = $('#product-list');
		                businessList.empty();
						
		                if (response.businesses.length === 0) {
		                    businessList.append('<p style="color: red;">Nothing found.</p>');
		                    return;
		                }
		                response.businesses.forEach(function(business) {
		                    

		                    var image = 'business_placeholder.jpg';
		                    if (business.images && business.images.length > 0) {
		                        image = business.images[0].imageName;
		                    }
							
		                    function truncateText(text, length) {
		                        if (text.length <= length) {
		                            return text;
		                        }
		                        return text.substring(0, length) + '...';
		                    }
		                    
		                    fetchOverallRating(business.businessId, function(overallRating) {
	                            var stars = '★'.repeat(Math.round(overallRating)) + '☆'.repeat(5 - Math.round(overallRating));
	                            var details = `
	                                <a href="business?id=${business.businessId}">
	                                    <div class="card h-100" style="padding-right:0px !important; padding-left:0px !important;">
	                                        <img src="img/listing/${image}" class="card-img-top" style="width:100%;" alt="${business.name}">
	                                        <div class="card-body">
	                                            <h5 class="card-title">${business.name}</h5>
	                                            <p class="card-text">${truncateText(business.basicDetail, 200)}</p>
	                                            <p class="price">${business.priceRange}</p>
	                                            <div class="ratings">${stars} (${overallRating.toFixed(1)})</div>
	                                        </div>
	                                    </div>
	                                </a>
	                            `;
	                            businessList.append(details);
	                        });
		                });
		            },
		            error: function(xhr) {
		                console.log('Failed to load businesses', xhr.responseText);
		                businessList.append('<p style="color: red;">Failed to load business data.</p>');
		            }
		        });
		    }

		    // Call fetchBusinesses on page load
		    fetchBusinesses();

		    // Call fetchBusinesses on form submission
		    $('#search-form').submit(function(event) {
		        event.preventDefault();
		        fetchBusinesses();
		    });
		});



	</script>

    <footer id="footer"></footer>
    <script src="/js/custom_functions.js"></script>
    <script src="/js/script.js"></script>
    <script>
    $(document).ready(function() {
        // Load the header and footer into div
        $('#header').load('header');
        $('#footer').load('footer');
    });
    </script>
</body>
</html>